body {
    background-color: #292929;
    margin: 0;
    font-family: 'Exo', sans-serif;
}

.nav10 {
    overflow: hidden;
    border-style: solid;
    background-color: black;
    border-color: black;
    padding: 15px;
}

.nav10 a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

.nav10 a:hover {
    transition: 100ms;
    border-bottom: solid;
}

@media only screen and (max-width:800px) {
    .nav10 {
        text-align: center;
    }
}

.nav10 {
    overflow: hidden;
    border-style: solid;
    background-color: black;
    border-color: black;
    padding: 15px;
}

.nav10 a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

.nav10 a:hover {
    transition: 100ms;
    border-bottom: solid;
}

@media only screen and (max-width:800px) {
    .nav10 {
        text-align: center;
    }
}

.col-sm {
    transition: 100ms;
    overflow: hidden;
    margin-top: 18%;
    padding: 10px;
    border-width: 1px;
}

p {
    margin-top: 4%;
}

.col-sm:hover {
    transition: 100ms;
    border-bottom: solid;
}