body{
    background-color: #8d8d8d;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    border-style: solid;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 7px;
}
.navbar a:hover{
    color: rgb(128, 128, 128);
}



.Zenek{
    margin-top: 2%;
    text-align: center;
}

.Zenek img{
    border-style: solid;

} 

a{
    color: white;
    text-decoration: none;
}

.Cim{
    text-align: center;
}

.Cim {
    margin-top: 1%;
}

.Cim a{
    font-size: 20px;
}

.Cim a:hover{
    transition: 150ms;
    color: rgb(128, 128, 128);
}

.Zenek img:hover{
    transition: 150ms;
    color: rgb(128, 128, 128);
}

.hatter{
    margin-top: 3%;
    margin-bottom: 3%;
 margin-left: 17%;
 margin-right: 17%;
 object-fit: cover;
 box-shadow: 20px 20px 20px;
}
.nevjegyzekek{
    border-style: solid;
    border-color: white;
    background-color: white;
border-radius: 200%;
}




